<!-- Footer -->
<footer class="bg-primary">
    <div class="container flex flex-col-reverse justify-between px-6 py-10 mx-auto space-y-8 lg:flex-row lg:space-y-0">
        <!-- Logo and Social Links Containers -->
        <div
            class="flex flex-col-reverse items-center justify-between space-y-12 lg:flex-col lg:space-y-0 lg:items-start">
            <!-- Logo -->
            <div>
                <img src="/assets/icons/small-logo.svg" class="h-20 mt-2 md:mt-0" alt="Open Patterson" />
            </div>
            <div class="flex justify-center space-x-4">
                <!-- Twitter -->
                <a href="https://twitter.com/OpenPatterson" target="_blank">
                    <img src="/assets/icons/twitter.svg" alt="twitter" class="h-8 hover:fill-white" />
                </a>
                <!-- Slack -->
                <a href="#" target="_blank">
                    <img src="/assets/icons/slack.svg" alt="slack" class="h-8" />
                </a>
                <!-- Meetup -->
                <a href="https://www.meetup.com/open-patterson/" target="_blank">
                    <img src="/assets/icons/meetup.svg" alt="meetup" class="h-8" />
                </a>
                <!-- Github -->
                <a href="https://github.com/OpenPatterson/" target="_blank">
                    <img src="/assets/icons/github.svg" alt="github" class="h-8 " />
                </a>
                <!-- Facebook -->
                <a href="https://www.facebook.com/OpenPatterson/" target="_blank">
                    <img src="/assets/icons/facebook.svg" alt="facebook" class="h-8" />
                </a>
                <!-- LinkedIn -->
                <a href="https://www.linkedin.com/company/openpatterson/" target="_blank">
                    <img src="/assets/icons/linkedin-logo.png" alt="facebook" class="h-8" />
                </a>
            </div>
        </div>
        <!-- List Container -->
        <div class="flex justify-around space-x-32">
            <div class="flex flex-col space-y-3 text-neutral-off-black">
                <a href="/about-us" class="hover:text-neutral-off-white">About Us</a>
                <a href="/latest" class="hover:text-neutral-off-white">Latest</a>
                <a href="/join-us" class="hover:text-neutral-off-white">Join Us</a>
                <a href="/projects" class="hover:text-neutral-off-white">Projects</a>
                <a href="/calendar" class="hover:text-neutral-off-white">Calendar</a>
                <a href="/donate" class="hover:text-neutral-off-white">Donate</a>
            </div>
            <div class="flex flex-col space-y-3 text-neutral-off-black">
                <a href="/code-of-conduct" class="hover:text-neutral-off-white">Code of Conduct</a>
                <a href="/brigade-bylaws" class="hover:text-neutral-off-white">Brigade Bylaws</a>
                <a href="/press" class="hover:text-neutral-off-white">Press</a>
            </div>
        </div>

        <!-- Mailing List -->
        <div class="flex flex-col justify-between items-center">
            <div class="flex space-x-3">
                <div class="ml-embedded" data-form="fyfFFQ"></div>
            </div>
        </div>
    </div>
    <div class="text-center items-center flex justify-center pb-5"><a class="px-1">We</a> <img src="/assets/icons/apricot.svg" width="15" height="15" class=""><a class="px-1">Patterson</a></div>
</footer>