<head>
    <html lang="{{ site.lang | default: " en-US" }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{"/assets/css/tailwind.css" | relative_url }}">


    <!-- Microanalytics -->
    <script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
    <!-- End Microanalytics -->
</head>