<head>
    <html lang="{{ site.lang | default: " en-US" }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{"/assets/css/tailwind.css" | relative_url }}">

    <!-- MailerLite Universal -->
    <script>
        (function (w, d, e, u, f, l, n) {
            w[f] = w[f] || function () {
                (w[f].q = w[f].q || [])
                    .push(arguments);
            }, l = d.createElement(e), l.async = 1, l.src = u,
                n = d.getElementsByTagName(e)[0], n.parentNode.insertBefore(l, n);
        })
            (window, document, 'script', 'https://assets.mailerlite.com/js/universal.js', 'ml');
        ml('account', '56097');
    </script>
    <!-- End MailerLite Universal -->
    <!-- Microanalytics -->
    <script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
    <!-- End Microanalytics -->
</head>