  <!-- Hero Section -->
  <section id="hero">
    <!-- Flex Container -->
    <div class="container flex flex-col-reverse items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0 md:flex-row">
      <!-- Left Item -->
      <div class="flex flex-col mb-32 space-y-12 md:w-1/2">
        <!-- Open Patterson Header -->
        <h1 class="max-w-md text-4xl font-bold text-center md:text-5xl md:text-left">
          {{page.hero_header}}
        </h1>
        <!-- Paragraph 1 -->
        <p class="max-w-sm text-center text-neutral-off-black md:text-left">
          A
          <a href="https://brigade.codeforamerica.org/" class="text-blue-400 underline" target="_blank">Code for America
            Brigade.</a>
          We are a, <a class="font-black">remote-first</a>, new group of civic-minded volunteers contributing their
          skills towards a modern and equitable Patterson.
        </p>
        <!-- Paragraph 2 -->
        <p class="max-w-sm text-center text-rose-red font-bold md:text-left">
          Have skills in design, data, software engineering, or advocacy? You
          can help. All interested are invited, whether you have 10 years of
          experience or 1 month.
        </p>
        <!-- Join Us and Become Partner Buttons -->
        <div class="container flex flex-col md:flex-row items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0">
          <!-- Join Us Button -->
          <div class="flex flex-col justify-center md:justify-start px-6 py-1">
            <a href="/join-us" target=""
              class="p-3 px-6 pt-2 text-white bg-primary rounded-full baseline hover:bg-primary-light">Volunteer!</a>
          </div>
          <!-- Become a Partner Button -->
          <div class="flex flex-col justify-center md:justify-start px-6 py-1">
            <a href="/join-us" target=""
              class="p-3 px-6 pt-2 text-white bg-primary rounded-full baseline hover:bg-primary-light">Partner With
              Us!</a>
          </div>
        </div>
      </div>
      <!-- Image -->
      <div class="w-1/2 md:w-1/2">
        <img src="/assets/icons/hero.svg" alt="" />
      </div>
    </div>
  </section>