--- 
import Layout from '../layouts/Primary.astro';
import Header from '../components/Header.jsx';
---

<Layout title="Open Patterson">
	<main>
        <Header client:load />
        About Us
	</main>
</Layout>