--- 
import Layout from '../layouts/Primary.astro';
---

<Layout title="Open Patterson">
	<main>
		<section id="about-us">
            <div class="flex-col w-2/3 m-auto">
                <div class="text-4xl py-10 text-center font-bold">About Us</div>
                <p>Open Patterson was an idea years in the making, but it was not until mid-February 2022 that we took the first
                    steps to launch the Open Patterson Brigade. In late-April 2022, Carlos signed the Memorandum of Understanding, making Open Patterson
                    an official Code for America brigade. After the dissolution of the Code for America Brigade Network, we joined the <a href="https://opencollective.com/" class="underline" target="_blank">Open Collective</a> who continues to be our fiscal sponsor.</p>
            </div>
        </section>
        <section id="leadership">
            <div class="flex-col w-2/3 m-auto pb-10">
                <div class="text-4xl py-10 text-center font-bold">Leadership</div>
                <div class="text-2xl text-center font-bold">Brigade Captains</div>
                <div class="items-center justify-center flex py-2">
                    <a class="px-2">Carlos Eduardo Ortega</a>
                    <a href="https://www.linkedin.com/in/soycarlos/" target="_blank">
                        <img src="../../icons/linkedin-logo.png" alt="LinkedIn" class="px-1 h-5" />
                    </a>
                    <a href="https://carlos.soy/" target="_blank">
                        <img src="../../icons/globe.svg" alt="Website" class="px-1 h-7" />
                    </a>
                </div>
                <div class="items-center justify-center flex">
                    <a class="px-2">Rebekah Miranda</a>
                    <a href="#" target="_blank">
                        <img src="../../icons/linkedin-logo.png" alt="LinkedIn" class="px-1 h-5" />
                    </a>
                    <a href="#" target="_blank">
                        <img src="../../icons/globe.svg" alt="Website" class="px-1 h-7" />
                    </a>
                </div>
                <div class="text-2xl text-center font-bold pt-10">Marketing Leads</div>
                <div class="items-center justify-center flex py-2">
                    <a class="px-2">Searching...</a>
                    <a href="#" target="_blank">
                        <img src="../../icons/linkedin-logo.png" alt="LinkedIn" class="px-1 h-5" />
                    </a>
                    <a href="#" target="_blank">
                        <img src="../../icons/globe.svg" alt="Website" class="px-1 h-7" />
                    </a>
                </div>
                <div class="text-2xl text-center font-bold pt-10">Design Leads</div>
                <div class="items-center justify-center flex py-2">
                    <a class="px-2">Searching...</a>
                    <a href="#" target="_blank">
                        <img src="../../icons/linkedin-logo.png" alt="LinkedIn" class="px-1 h-5" />
                    </a>
                    <a href="#" target="_blank">
                        <img src="../../icons/globe.svg" alt="Website" class="px-1 h-7" />
                    </a>
                </div>
                <div class="text-2xl text-center font-bold pt-10">Project Leads</div>
                <div class="items-center justify-center flex py-2">
                    <a class="px-2">Searching...</a>
                    <a href="#" target="_blank">
                        <img src="../../icons/linkedin-logo.png" alt="LinkedIn" class="px-1 h-5" />
                    </a>
                    <a href="#" target="_blank">
                        <img src="../../icons/globe.svg" alt="Website" class="px-1 h-7" />
                    </a>
                </div>
            </div>
        </section>
        <section id="values">
            <div class="flex-col w-2/3 m-auto pb-10">
                <div class="text-4xl py-10 text-center font-bold">Values</div>
                <div class="text-2xl text-center font-bold">Community-Centered & Community-Led</div>
                <p class="text-center">Far too often in the the Technology industry, we have people presenting solutions
                    without first consulting the people who it will affect the most. To us, Community-Led and
                    Community-Centered means that our members will be mostly made up of members in our community, but we
                    will also reach out to members of the community outside our team to consult. We must meet folks
                    where they are, rather than expecting them to come to us.</p>
                <div class="text-2xl text-center font-bold pt-4">Remote-First</div>
                <p class="text-center">Unfortunately, the Stanislaus area is severely lacking in tech opportunities. So,
                    when a member of our community ends up learning tech skills or graduates with a Computer Science
                    degree, they almost always have to leave Stanislaus in search of opportunities, often to never
                    return. While we hope that new ventures pop up in the area and the rise of remote work will allow
                    these folks to remain in Stanislaus, we embrace a remote-first structure, so that those folks who
                    did leave can continue to contribute to their hometowns.</p>
                <div class="text-2xl text-center font-bold pt-4">Mentorship & Community</div>
                <p class="text-center">As we launch and begin to grow, our focus is not only on those who already have
                    the skills needed to contribute, but those interested in learning them. That is why we happily
                    invite folks who have 10 years of experience or just a month, we want to be able to provide the
                    space for folks to learn. In doing so, we can begin to foster a community of creators, engineers,
                    leaders, and advocates who will continue to pay it forward in the future.</p>
            </div>
        </section>
	</main>
</Layout>