--- 
import Layout from '../layouts/Primary.astro';
import Header from '../components/Header.jsx';
import Hero from '../components/Hero.astro';
---

<Layout title="Open Patterson">
	<main>
		<Hero />
	</main>
</Layout>