---
import Layout from "../layouts/Primary.astro";
---

<Layout title="Open Patterson">
  <main>
    <section id="join_us">
      <div
        class="container flex flex-col px-6 mx-auto mt-10 space-y-0 md:space-y-0 md:flex-row"
      >
        <!-- For Volunteers-->
        <div class="flex flex-col mb-32 md:w-1/2">
          <h1
            class="max-w-md text-4xl font-bold text-center md:text-5xl md:text-center"
          >
            Volunteers
          </h1>
          <p class="px-2 py-2">
            Open Patterson has an open-door policy and we accept new volunteers
            year-round. Whether you have an interest in tech or not, you most
            likely have skills you can contribute to the community.
          </p><br />
          <p class="px-2 py-2">
            Here are a few ways you can help:
            <ul class="list-disc px-2">
              <li>Software Engineering (Front-End/Back-End)</li>
              <li>Data Analysis & Visualization</li>
              <li>Marketing & Social Media Management</li>
              <li>Language Translation (e.g. Spanish)</li>
              <li>Community Building & Outreach</li>
            </ul>
            <h2 class="font-bold text-2xl pt-2">Onboarding Process</h2>
            <p>
              Because we want anyone willing to participate to be able to,
              regardless of location, we are <a class="font-bold">
                remote-first. If you are interested in volunteering with us,
                send us an email.
              </a>
            </p>
          </p>
          <a
            href="mailto:carlos@openpatterson.org"
            target="_blank"
            class="px-6 py-2 text-white bg-primary rounded-full m-auto hover:bg-primary-light"
            >Email to volunteer</a
          >
        </div>
        <!-- For Community Partners -->
        <div class="flex flex-col mb-32 md:w-1/2">
          <h1
            class="max-w-md text-4xl font-bold text-center md:text-5xl md:text-center"
          >
            Community Partners
          </h1>
          <h2
            class="max-w-md text-1xl font-bold text-center md:text-2xl md:text-center"
          >
            Nonprofits & Government Agencies
          </h2>
          <p class="px-2 py-2">
            Our goal is to build tools to serve the community. However, we
            acknowledge that we are far from the first with the goal of serving
            the community. As such, we prioritize partnering up with local
            government and nonprofits who have been putting in the work.
          </p><a href="" class="font-bold"
            >Your organization does not have to be based in Patterson. We give
            preference to organizations/governments in Stanislaus County.</a
          ><br />
          <p class="px-2 py-2">
            Check out some of the projects other brigades have done:
            <ul class="list-disc px-2">
              <li>
                <a
                  href="https://sfbriga.notion.site/Current-Projects-4fefa377e1424ff0b59230b9c160e6a4"
                  target="_blank"
                  class="underline">Code for San Francisco</a
                >
              </li>
              <li>
                <a
                  href="https://www.codeforsanjose.org/projects"
                  target="_blank"
                  class="underline">Code for San Jose</a
                >
              </li>
              <li>
                <a
                  href="https://www.hackforla.org/projects/"
                  target="_blank"
                  class="underline">Hack for LA</a
                >
              </li>
              <li>
                <a
                  href="https://openoakland.org/projects/"
                  target="_blank"
                  class="underline">OpenOakland</a
                >
              </li>
              <li>
                <a
                  href="https://opensandiego.org/projects"
                  target="_blank"
                  class="underline">Open San Diego</a
                >
              </li>
            </ul>
          </p>
          <a
            href="mailto:carlos@openpatterson.org"
            target="_blank"
            class="px-6 py-2 text-white bg-primary rounded-full m-auto hover:bg-primary-light"
            >Email Interest to Collaborate</a
          >
        </div>
      </div>
    </section>
  </main>
</Layout>
