--- 
import Layout from '../layouts/Primary.astro';
import ProjectCard from '../components/ProjectCard.astro';
import { getCollection } from 'astro:content';

var projects = await getCollection('projects');
---

<Layout title="Open Patterson">
	<main>
        <div class="flex-col">
            <div class="text-4xl text-center font-bold w-2/3 m-auto">Projects</div>
            <div class="text-xl text-center w-2/3 pb-10 m-auto"><a href="https://soycarlos.notion.site/Projects-c7a3b6d14a13461d8691c98a69cf1cce" target="_blank" class="underline">Complete Project Board</a></div>
            <div class="grid grid-cols-1 gap-x-3 gap-y-3 pb-10 md:grid-cols-3">
				{projects.map(project => (
					<ProjectCard project={project} />
				))}
            </div>
            
        </div>

	</main>
</Layout>