<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include header.html %}

  <div class="">
    <section id="donate">
      <div class="py-10 text-center text-4xl font-bold md:text-4xl">Help Support Open Patterson</div>
      <p class="md:w-2/3 px-5 md:px-0 m-auto py-2">Open Patterson members meet and work to make our community and government work for
        everyone. Every line of
        code,
        hour of meeting, and event is fully organized by volunteers.
        We are supported by lovely sponsors and individuals. Help us continue to do this work through a <a
          class="font-bold">tax-deductible donation</a> through Code for America. 
          <br><br>When donating, select the dropdown above the "Next" button and click on our brigade. If you have any questions please
        reach out to <a href="mailto:carlos@openpatterson.org" target="_blank" class="underline">carlos@openpatterson.org</a>
      </p>
      <div class="justify-center flex pt-10 pb-20">
        <a href="https://codeforamerica.org/donate/brigade/" target="_blank">
          <button class="p-3 px-6 pt-2 bg-primary rounded-full text-white hover:bg-primary-light">Donate
            Here!</button></a>
      </div>
    </section>
  </div>

  {% include footer.html %}

  {% include foot.html %}

</body>

</html>