<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include header.html %}

  <div class="flex flex-col-reverse justify-center items-center lg:flex-row">
    <div class="w-4/5 pb-10 m-auto lg:pb-0 lg:m-5 lg:w-3/5 xl:w-3/5 xxl:w-2/4">
      <div class="font-bold text-2xl text-center md:text-3xl pt-5">{{page.title}}</div>
      <div class="text-center md:text-xl">{{page.subtitle}}</div>
      <div class="text-center text-sm">{{page.date-written}} &bull; {{ page.reading_duration }} min read</div>
      <div class="justify-center flex"><img src="{{page.hero_image | relative_url}}" alt="Hero Image" class=""></div>
      <div class="p-5">
        <article class="prose lg:prose-xl m-auto">
          {{ content }}
        </article>
      </div>
    </div>
  </div>

  {% include footer.html %}

  {% include foot.html %}

</body>

</html>