<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include header.html %}

    <!-- Calendar Section -->
    <section id="projects">
        <div class="flex-col">
            <div class="text-4xl text-center font-bold w-2/3 py-10 m-auto">Projects (Coming Soon)</div>
            <div class="grid grid-cols-1 gap-x-3 gap-y-3 pb-10 md:grid-cols-3">
                {% for project in site.projects %}
                <div class="flex-col px-10">
                    <img src="{{project.img_src}}" alt="" class="rounded-lg">
                    <div class="font-bold">{{ project.project_name }} &bull; {{ project.status }}</div>
                    <div class="font-bold">{{ project.project_type }} &bull; {{ project.date_started | date: '%m/%y' }} - {{ project.date_ended | date: '%m/%y' }} </div>
                    <div class="font-base">{{ project.blurb }}</div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </section>

    {% include footer.html %}

    {% include foot.html %}

</body>

</html>