---
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Primary.astro';

export async function getStaticPaths() {
    const publishedLatestEntries = await getCollection('latest');
    return publishedLatestEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

type Props = {
  entry: CollectionEntry<"latest">;
};

const { entry } = Astro.props;
console.log('entry', entry);
const { Content } = await entry.render();
---
<Layout title="Open Patterson">
	<main>

        <div class="flex flex-col-reverse justify-center items-center lg:flex-row">
            <div class="w-4/5 pb-10 m-auto lg:pb-0 lg:m-5 lg:w-3/5 xl:w-3/5 xxl:w-2/4">
              <div class="font-bold text-2xl text-center md:text-3xl pt-5">{entry.data.title}</div>
              <div class="text-center md:text-xl">{entry.data.subtitle}</div>
              <div class="text-center text-sm">{entry.data.publishDate} &bull; { entry.data.reading_duration } min read</div>
              <!-- <div class="justify-center flex"><img src="{{page.hero_image | relative_url}}" alt="Hero Image" class=""></div> -->
              <div class="p-5">
                <article class="prose lg:prose-xl m-auto">
                  <Content />
                </article>
              </div>
            </div>
          </div>
        
    </main>
</Layout>