---
const { project } = Astro.props;
console.log(project);
---
<div class="flex-col px-10">
    <img src={ project.data.img_src } alt="" class="rounded-lg">
    <div class="font-bold">{ project.data.project_name } &bull; { project.data.status }</div>
    <div class="font-bold">{ project.data.project_type } &bull; { project.data.date_started } - { project.data.date_ended} </div>
    <div class="font-base">{ project.data.blurb }</div>
</div>